aiogram==3.22.0
python-dotenv==1.2.1
aiohttp==3.12.15
flask==2.3.3
beautifulsoup4==4.12.3
googlesearch-python==1.2.3
aiogram
aiohttp
beautifulsoup4
flask
googlesearch-python
python-dotenv
aiogram
aiohttp
beautifulsoup4
flask
googlesearch-python
python-dotenv
aiogram
aiohttp
beautifulsoup4
flask
googlesearch-python
python-dotenv
